# Pandas DataFrame

### Tutorials
- [datacamp blog](https://www.datacamp.com/tutorial/pandas-tutorial-dataframe-python)
- [Youtube - Python Pandas Tutorial 2: Dataframe Basics](https://www.youtube.com/watch?v=F6kmIpWWEdU)

### Docs
https://pandas.pydata.org/docs/reference/frame.html

## Different ways of Creating DataFrame

In [ ]:
# Iterating over Columns 
columns = list(df)

for c in columns:
    print(c)

print ('***********************')

# get all columns for row index 2
for col in columns:
    print(df[col][2])

In [5]:
import pandas as pd

# Method 01: From CSV File
df_csv = pd.read_csv("weather_data.csv")
print(f"Method 01: From CSV File => ")
print(df_csv)
print(f"\n{'-'*10}\n")

# Method 02: From Excel
df_excel = pd.read_excel("weather_data.xlsx")
print(f"Method 02: From Excel => ")
print(df_excel)
print(f"\n{'-'*10}\n")

# Method 03: From Python Dictionary of columns
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
df_dict = pd.DataFrame(weather_data)
print(f"Method 03: From Python Dictionary of columns => ")
print(df_dict)
print(f"\n{'-'*10}\n")

# Method 04: From Python list of rows in dictionary form
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    {'day': '1/4/2017', 'temperature': 24, 'windspeed': 7, 'event': 'Snow'},
    {'day': '1/5/2017', 'temperature': 32, 'windspeed': 4, 'event': 'Rain'},
    {'day': '1/6/2017', 'temperature': 31, 'windspeed': 2, 'event': 'Sunny'}
]
df_dict2 = pd.DataFrame(weather_data)
print(f"Method 04: From Python list of rows in dictionary form => ")
print(df_dict2)
print(f"\n{'-'*10}\n")

# Method 05: From tuples list
weather_data = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow'),
    ('1/4/2017', 24, 7, 'Snow'),
    ('1/5/2017', 32, 4, 'Rain'),
    ('1/6/2017', 31, 2, 'Sunny')
]
df_tuple = pd.DataFrame(weather_data, columns=['day','temperature','windspeed','event'])
print(f"Method 05: From tuples list => ")
print(df_tuple)
print(f"\n{'-'*10}\n")

# Method 06: Create shell dataframe, and then populate rows
# df_shell = pd.DataFrame()
df_shell = pd.DataFrame(columns=['day','temperature','windspeed','event'])
print(f"Method 06: Create shell dataframe, and then populate rows => ")
print(f"  Initially empty dataframe..")
print(df_shell)
weather_data = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow'),
    ('1/4/2017', 24, 7, 'Snow'),
    ('1/5/2017', 32, 4, 'Rain'),
    ('1/6/2017', 31, 2, 'Sunny')
]
# populate data
for row in weather_data:
    df_shell.loc[len(df_shell)] = row
print(f"  DataFrame after populating from tuple list: ")
print(df_shell)
print(f"\n{'-'*10}\n")

# Method 07: From database query result
  # https://github.com/imajaydwivedi/SQLMonitor/blob/dev/Alerting/SmaAlertPackage/CommonFunctions/get_pandas_dataframe.py
def get_pandas_dataframe(pyodbc_query_resultset, index_col=''):
    if len(pyodbc_query_resultset) == 0:
        raise Exception(f"No data in passed resulset.")
    else:
        df_columns = [column[0] for column in pyodbc_query_resultset[0].cursor_description]
        #df_results = pd.DataFrame.from_records(pyodbc_query_resultset, columns=df_columns)

        if index_col != '':
            #df_results.set_index(index_col, inplace=True) # not working
            #print('setting specific index')
            index = df_columns.index(index_col)
            index_values = [row[index] for row in pyodbc_query_resultset]
            df_results = pd.DataFrame.from_records(pyodbc_query_resultset, index=index_values, columns=df_columns)
        else:
            df_results = pd.DataFrame.from_records(pyodbc_query_resultset, columns=df_columns)

    return df_results

Method 01: From CSV File =>
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

----------

Method 02: From Excel =>
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

----------

Method 03: From Python Dictionary of columns =>
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

----------

Method 04: From Python list of rows in dictionary form =>
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

----------

Method 05: From tuples list =>
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

----------

Method 06: Create shell dataframe, and then populate rows =>
  Initially empty dataframe..
Empty DataFrame
Columns: [day, temperature, windspeed, event]
Index: []
  DataFrame after populating from tuple list:
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

----------

## Retrieve columns & values from DataFrame for Manipulations

In [6]:
# get column names
columns = list(df_excel.columns)

# get shape. (row, col)
row_count, col_count = df_excel.shape

# print rows as tuple
for r in range(0,row_count):
    row_list = list()
    for col in columns:
        val = df[col][r]
        # Convert NumPy scaler to Python type
        if hasattr(val, 'item'):
            val = val.item()
        row_list.append(val)
    print(tuple(row_list))
    # print(f'\n')

NameError: name 'df' is not defined

In [7]:
# get column names
columns = list(df_excel.columns)

# get shape. (row, col)
row_count, col_count = df_excel.shape

# print rows at dict
for r in range(row_count):
    row_dict = dict()
    for col in columns:
        val = df_excel[col][r]
        # Convert NumPy scalar to Python type
        if hasattr(val, 'item'):
            val = val.item()
        row_dict[col] = val
    print(row_dict)
    # print('\n')

{'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'}
{'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'}
{'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}
{'day': '1/4/2017', 'temperature': 24, 'windspeed': 7, 'event': 'Snow'}
{'day': '1/5/2017', 'temperature': 32, 'windspeed': 4, 'event': 'Rain'}
{'day': '1/6/2017', 'temperature': 31, 'windspeed': 2, 'event': 'Sunny'}

# Concepts

In [65]:
import pandas as pd
 
# intialise data of lists.
data = {'sql_instance':['srv01', 'srv01', 'srv01', 'srv02'],
        'disk_volume':['c:\\', 'd:\\', 'e:\\', 'd:\\'],
        'used_pct':[75.68, 77.34, 85.74, 90.21],
        'state': ['Warning', 'Warning', 'Critical', 'Critical']
       }
 
# Create DataFrame
df = pd.DataFrame(data)
#df.style.set_caption("[Alert-DiskSpace] - 2 Warning - 2 Critical")
df.style.set_caption("Some Caption").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'red'),
        ('font-size', '16px')
    ]
}])
# Print the output.
print(df)

  sql_instance disk_volume  used_pct     state
0        srv01         c:\     75.68   Warning
1        srv01         d:\     77.34   Warning
2        srv01         e:\     85.74  Critical
3        srv02         d:\     90.21  Critical

In [45]:
# If you want to sort in descending order for a specific column, you can specify `ascending=False`:
# For example, to sort 'alert_count' in descending order while 'created_time' is ascending:
df_sorted_custom = df.sort_values(by=['used_pct', 'sql_instance'], ascending=[False, True])

print("\nDataFrame sorted by 'used_pct' (desc) and 'sql_instance' (asc):")
print(df_sorted_custom)

DataFrame sorted by 'used_pct' (desc) and 'sql_instance' (asc):
  sql_instance disk_volume  used_pct     state
3        srv02         d:\     90.21  Critical
2        srv01         e:\     85.74  Critical
1        srv01         d:\     77.34   Warning
0        srv01         c:\     75.68   Warning

## Get column `sql_instance` into a list

In [46]:
df["sql_instance"].tolist()

['srv01', 'srv01', 'srv01', 'srv02']

## Perform JOIN Operation

In [47]:
import pandas as pd

all_sql_instance = ['srv01','srv02','srv03']

df_sql_servers = pd.DataFrame({'sql_server': all_sql_instance})
df_sql_instances = pd.DataFrame({'sql_instance': all_sql_instance})
df_disk_info = df.copy()

print(f"df_sql_servers: \n{df_sql_servers}")
print(f"\n")
print(f"df_sql_instances: \n{df_sql_instances}")
print(f"\n")
print(f"df_disk_info: \n{df_disk_info}")

df_sql_servers:
  sql_server
0      srv01
1      srv02
2      srv03


df_sql_instances:
  sql_instance
0        srv01
1        srv02
2        srv03


df_disk_info:
  sql_instance disk_volume  used_pct     state
0        srv01         c:\     75.68   Warning
1        srv01         d:\     77.34   Warning
2        srv01         e:\     85.74  Critical
3        srv02         d:\     90.21  Critical

### Same join column_name

In [50]:
df_joined = df_sql_instances.merge(
        df_disk_info[['sql_instance','disk_volume','used_pct','state']],
        how='left',
        on='sql_instance'
)

print(f"df_joined: \n{df_joined}\n")

# drop a column
df_joined.drop(columns=['state'], inplace=True)
print(f"df_joined => \n{df_joined}\n")

# get missing rows only
df_missing = df_joined[df_joined['disk_volume'].isna()]
print(f"df_missing => \n{df_missing}\n")

# get missing sql_instance list
print(f"List of missing servers: {df_missing["sql_instance"].tolist()}")

df_joined:
  sql_instance disk_volume  used_pct     state
0        srv01         c:\     75.68   Warning
1        srv01         d:\     77.34   Warning
2        srv01         e:\     85.74  Critical
3        srv02         d:\     90.21  Critical
4        srv03         NaN       NaN       NaN

df_joined =>
  sql_instance disk_volume  used_pct
0        srv01         c:\     75.68
1        srv01         d:\     77.34
2        srv01         e:\     85.74
3        srv02         d:\     90.21
4        srv03         NaN       NaN

df_missing =>
  sql_instance disk_volume  used_pct
4        srv03         NaN       NaN

List of missing servers: ['srv03']

### Different join column_name

In [55]:
df_joined = df_sql_servers.merge(
        df_disk_info[['sql_instance','disk_volume','used_pct']],
        how='left',
        left_on='sql_server',
        right_on='sql_instance'
)

#df_joined[['sql_server','disk_volume','used_pct']]
print(f"df_joined: \n{df_joined}\n")

# drop a column
df_joined.drop(columns=['sql_instance'], inplace=True)
print(f"df_joined => \n{df_joined}\n")

# get missing rows only
df_missing = df_joined[df_joined['disk_volume'].isna()]
print(f"df_missing => \n{df_missing}\n")

# get missing sql_instance list
print(f"List of missing sql_servers: {df_missing["sql_server"].tolist()}")

df_joined:
  sql_server sql_instance disk_volume  used_pct
0      srv01        srv01         c:\     75.68
1      srv01        srv01         d:\     77.34
2      srv01        srv01         e:\     85.74
3      srv02        srv02         d:\     90.21
4      srv03          NaN         NaN       NaN

df_joined =>
  sql_server disk_volume  used_pct
0      srv01         c:\     75.68
1      srv01         d:\     77.34
2      srv01         e:\     85.74
3      srv02         d:\     90.21
4      srv03         NaN       NaN

df_missing =>
  sql_server disk_volume  used_pct
4      srv03         NaN       NaN

List of missing sql_servers: ['srv03']

In [20]:
df.iloc[3]

sql_instance       srv02
disk_volume          d:\
used_pct           90.21
state           Critical
Name: 3, dtype: object

In [18]:
# Iterating over rows and columns 
for col_name, col_value in df.iterrows():
    print(col_name, col_value)
    print()

0 sql_instance      srv01
disk_volume         c:\
used_pct          75.68
state           Warning
Name: 0, dtype: object

1 sql_instance      srv01
disk_volume         d:\
used_pct          77.34
state           Warning
Name: 1, dtype: object

2 sql_instance       srv01
disk_volume          e:\
used_pct           85.74
state           Critical
Name: 2, dtype: object

3 sql_instance       srv02
disk_volume          d:\
used_pct           90.21
state           Critical
Name: 3, dtype: object

In [22]:
# Iterating over Columns 
columns = list(df)

for c in columns:
    print(c)

print ('***********************')

# get all columns for row index 2
for col in columns:
    print(df[col][2])

sql_instance
disk_volume
used_pct
state
***********************
srv01
e:\
85.74
Critical

In [29]:
[col for col in df.columns]
#list(df)

['sql_instance', 'disk_volume', 'used_pct', 'state']

In [49]:
# Query data
df.query('sql_instance == "srv01" and state == "Critical"')

  sql_instance disk_volume  used_pct     state
2        srv01         e:\     85.74  Critical

In [66]:
# Filter data
df.where( (df['sql_instance']=='srv01') & (df['state']=='Critical') ).dropna()

  sql_instance disk_volume  used_pct     state
2        srv01         e:\     85.74  Critical

In [65]:
# Filter data
rows_filtered = df.where( (df['sql_instance']=='srv01') & (df['state']=='Critical') ).dropna()

row_count = len(rows_filtered)
print(f"row_count = {row_count}")
if row_count > 0:
    for row in rows_filtered.iterrows():
        print(row)
else:
    print('No rows found.')

row_count = 1
(2, sql_instance       srv01
disk_volume          e:\
used_pct           85.74
state           Critical
Name: 2, dtype: object)

In [82]:
df['state'] == 'Critical'

0    False
1    False
2     True
3     True
Name: state, dtype: bool

In [12]:
df.state

0     Warning
1     Warning
2    Critical
3    Critical
Name: state, dtype: object

# Concatenate or Merge DataFrames with Different number of Columns

In [67]:
# Method 04: From Python list of rows in dictionary form
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    {'day': '1/4/2017', 'temperature': 24, 'windspeed': 7, 'event': 'Snow'},
    {'day': '1/5/2017', 'temperature': 32, 'windspeed': 4, 'event': 'Rain'},
    {'day': '1/6/2017', 'temperature': 31, 'windspeed': 2, 'event': 'Sunny'}
]
df_dict2 = pd.DataFrame(weather_data)
print(f"Method 04: From Python list of rows in dictionary form => ")
print(df_dict2)
print(f"\n{'-'*10}\n")

Method 04: From Python list of rows in dictionary form =>
        day  temperature  event  windspeed
0  1/1/2017           32   Rain        NaN
1  1/2/2017           35    NaN        7.0
2  1/3/2017           28   Snow        2.0
3  1/4/2017           24   Snow        7.0
4  1/5/2017           32   Rain        4.0
5  1/6/2017           31  Sunny        2.0

----------

In [68]:
weather_dataset_1 = [
    {'day': '1/1/2017', 'temperature': 32, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7}
]
df_dataset_1 = pd.DataFrame(weather_dataset_1)
print(f"\ndf_dataset_1 => \n{df_dataset_1}\n")

weather_dataset_2 = [
    {'day': '1/3/2017', 'windspeed': 2, 'event': 'Snow'},
    {'day': '1/4/2017', 'windspeed': 7, 'event': 'Snow'},
    {'day': '1/5/2017', 'windspeed': 4, 'event': 'Rain'},
    {'day': '1/6/2017', 'windspeed': 2, 'event': 'Sunny'}
]
df_dataset_2 = pd.DataFrame(weather_dataset_2)
print(f"\ndf_dataset_2 => \n{df_dataset_2}\n")

df_dataset_1 =>
        day  temperature event  windspeed
0  1/1/2017           32  Rain        NaN
1  1/2/2017           35   NaN        7.0


df_dataset_2 =>
        day  windspeed  event
0  1/3/2017          2   Snow
1  1/4/2017          7   Snow
2  1/5/2017          4   Rain
3  1/6/2017          2  Sunny

In [70]:
df_combined = pd.concat([df_dataset_1,df_dataset_2])
print(f"\ndf_combined => \n{df_combined}\n")

df_combined =>
        day  temperature  event  windspeed
0  1/1/2017         32.0   Rain        NaN
1  1/2/2017         35.0    NaN        7.0
0  1/3/2017          NaN   Snow        2.0
1  1/4/2017          NaN   Snow        7.0
2  1/5/2017          NaN   Rain        4.0
3  1/6/2017          NaN  Sunny        2.0

# Column Level Transformation

In [17]:
import pandas as pd

data = [
    {"server_name": "server1.example.com", "capacity_gb": 512, "used_gb": 210, "available_mb": 309248},
    {"server_name": "server2.example.com", "capacity_gb": 1024, "used_gb": 560, "available_mb": 474112},
    {"server_name": "server3.example.com", "capacity_gb": 256, "used_gb": 120, "available_mb": 138240},
    {"server_name": "server4.example.com", "capacity_gb": 2048, "used_gb": 1720, "available_mb": 337920},
    {"server_name": "server5.example.com", "capacity_gb": 750, "used_gb": 300, "available_mb": 460800},
]

df = pd.DataFrame(data)

print(df)

           server_name  capacity_gb  used_gb  available_mb
0  server1.example.com          512      210        309248
1  server2.example.com         1024      560        474112
2  server3.example.com          256      120        138240
3  server4.example.com         2048     1720        337920
4  server5.example.com          750      300        460800

In [6]:
# Example function 01
def get_size_in_gb(size_in_mb):
    return round(size_in_mb / 1024, 2)

# Apply to 'available_mb' and store result in a new column
df['available_gb'] = df['available_mb'].apply(get_size_in_gb)

print(df)

           server_name  capacity_gb  used_gb  available_mb  available_gb
0  server1.example.com          512      210        309248         302.0
1  server2.example.com         1024      560        474112         463.0
2  server3.example.com          256      120        138240         135.0
3  server4.example.com         2048     1720        337920         330.0
4  server5.example.com          750      300        460800         450.0

In [18]:
# Example function 02
import pandas as pd

def get_pretty_data_size(size:float, unit:str='mb', precision:int=2):
    """_summary_

    Args:
        size (float): _description_
        unit (str, optional): _description_. Defaults to 'mb'.
        precision (int, optional): _description_. Defaults to 2.

    Returns:
        _type_: _description_

    Examples:
        pt.custom_format = { "free_memory_kb": lambda field, value: self.get_pretty_data_size(int(value),'kb') }
        pt.custom_format["threshold_kb"] = lambda field, value: self.get_pretty_data_size(int(value),'kb')
    """

    if size is None:
        return f"None"

    unit = unit.lower()
    suffixes = ['b', 'kb', 'mb', 'gb', 'tb']
    suffixIndex = suffixes.index(unit)
    while size > 1024 and suffixIndex < (len(suffixes)-1):
        suffixIndex += 1 #increment the index of the suffix
        size = size/1024.0 #apply the division

    return "%.*f %s"%(precision,size,suffixes[suffixIndex])

def df_cols_to_prettysize(df, columns_list, input_size='mb'):
    """
    Convert specified columns in a DataFrame from current_unit to human-readable file sizes.

    Parameters:
        df (pd.DataFrame): The DataFrame containing size values.
        columns_list (list): List of column names to convert.
        current_unit (str): The current unit of the data ('kb', 'mb', 'gb').

    Returns:
        pd.DataFrame: Modified DataFrame with human-readable sizes in specified columns.
    """

    input_size = input_size.lower()
    suffixes = ['b', 'kb', 'mb', 'gb', 'tb']

    # Transform column names
    columns_all = list(df.columns)
    columns_meta = list()

    for col in columns_all:
        suffix_identified = False

        col_unit = None
        col_new_name = col

        for unit in suffixes:
            # print(f"Col: {col} || unit: {unit}")
            if col.endswith(f"_{unit}"):
                suffix_identified = True
                col_unit = unit
                col_new_name = col.replace(f"_{unit}", '')
                break

        if col in columns_list:
            if suffix_identified:
                columns_meta.append(dict(action=True, col_name=col, new_name=col_new_name, unit=col_unit))
            else:
                columns_meta.append(dict(action=True, col_name=col, new_name=col_new_name, unit=input_size))
        else:
            columns_meta.append(dict(action=False, col_name=col, new_name=col_new_name, unit=input_size))

    # Create empty dataframe
    df_new = pd.DataFrame()
    for col_dict in columns_meta:
        # print(f"col_dict: {col_dict}")
        if col_dict['action']:
            df_new[col_dict['new_name']] = df[col_dict['col_name']].apply(lambda val: get_pretty_data_size(val, col_dict['unit']))
        else:
            df_new[col_dict['new_name']] = df[col_dict['col_name']]

    return df_new0

# Apply to 'available_mb' and store result in a new column
df_cols_to_prettysize(df, ['capacity_gb','used_gb','available_mb'], input_size='mb')

col_dict: {'action': False, 'col_name': 'server_name', 'new_name': 'server_name', 'unit': 'mb'}
col_dict: {'action': True, 'col_name': 'capacity_gb', 'new_name': 'capacity', 'unit': 'gb'}
col_dict: {'action': True, 'col_name': 'used_gb', 'new_name': 'used', 'unit': 'gb'}
col_dict: {'action': True, 'col_name': 'available_mb', 'new_name': 'available', 'unit': 'mb'}

           server_name    capacity       used  available
0  server1.example.com   512.00 gb  210.00 gb  302.00 gb
1  server2.example.com  1024.00 gb  560.00 gb  463.00 gb
2  server3.example.com   256.00 gb  120.00 gb  135.00 gb
3  server4.example.com     2.00 tb    1.68 tb  330.00 gb
4  server5.example.com   750.00 gb  300.00 gb  450.00 gb

# [Python Pandas Tutorial 2: Dataframe Basics](https://www.youtube.com/watch?v=F6kmIpWWEdU)

In [59]:
import pandas as pd

# Import data from csv
df = pd.read_csv("weather_data.csv")

# Create from dictionary
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

In [9]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
# dimension (rows, columns)
print(df.shape)

rows, columns = df.shape

print(f"(rows, columns): ({rows}, {columns})")

(6, 4)
(rows, columns): (6, 4)

In [17]:
# Get few rows
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [18]:
# Get top 2 rows
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [19]:
# Get bottom 2 rows
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
# get row ids 2 to 4
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [21]:
# get columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [22]:
# get a particular column data
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [23]:
# get type of column in pandas dataframe
type(df['event'])

pandas.core.series.Series

In [29]:
# get selected columns
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

## Operations with Data Frames

In [32]:
# get maximum temperature
print(f'max temp: {df['temperature'].max()}')

#
print(f'mean temp: {df['temperature'].mean()}')

#
print(f'min temp: {df['temperature'].min()}')

max temp: 35
mean temp: 30.333333333333332
min temp: 24

In [34]:
# get statistics on numeric data
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [64]:
# get me rows with temp > 32
print(df[df.temperature>= 32])
print()

print(f"hot days: {df[df.temperature>= 32]['day'].tolist()}")
print(f"hot days: {df['day'][df.temperature>= 32].tolist()}")

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

hot days: ['1/1/2017', '1/2/2017', '1/5/2017']
hot days: ['1/1/2017', '1/2/2017', '1/5/2017']

In [36]:
# get me rows with max temp
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [37]:
# get me rows with max temp
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [39]:
# get me rows with max temp. get only 2 columns
df[['day','temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [42]:
# pandas dataframe has an index.
# By default, it is an integer range generated automatically.
df.index

RangeIndex(start=0, stop=6, step=1)

In [57]:
df2 = df.copy()
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [58]:
# set "day" column as index
df2.set_index('day', inplace=True)

df2

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [60]:
# with custom index, we can use locator functions to get relevant data
df2.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [61]:
# get original index
df2.reset_index(inplace=True)
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [62]:
# set "event" column as index to check behavior for deplicate index value
df2.set_index('event', inplace=True)

df2

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [65]:
df2.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7