# Tuples

Tuple: ordered, immutable, allows duplicate elements

In [36]:
# Declare tuple
mytuple = ("Ajay", 32, "Hyderabad")
print(mytuple)
print(type(mytuple))

print('---'*5)

# Declare another tuple without brackets
mytuple2 = "Priti", 32, "Nagpur"
print(mytuple2)
print(type(mytuple2))

('Ajay', 32, 'Hyderabad')
<class 'tuple'>
---------------
('Priti', 32, 'Nagpur')
<class 'tuple'>

In [12]:
print(mytuple[0])

Ajay

In [9]:
# convert list to tuple
mytuple = tuple(["Saanvi", 7, "Rewa"])
print(mytuple)
print(type(mytuple))

# get last item
print(mytuple[-1])

('Saanvi', 7, 'Rewa')
<class 'tuple'>
Rewa

In [13]:
# Tuple as immutable
mytuple[0] = "Gaurav"

TypeError: 'tuple' object does not support item assignment

In [15]:
# Incorrect way to create Tuple
mytuple = ("Ajay")
print(mytuple)
print(type(mytuple))

# Correct way to create Tuple. Notice extra comma
mytuple = ("Ajay",)
print(mytuple)
print(type(mytuple))

Ajay
<class 'str'>
('Ajay',)
<class 'tuple'>

In [10]:
# Loop through tuple items
mytuple = ("Anant", 3, "Rewa")

for i in mytuple:
    print(i)

Anant
3
Rewa

In [16]:
# Search by key
mytuple = ("Ajay", 32, "Hyderabad")
print(mytuple)

if "Ajay" in mytuple:
    print("Yes")
else:
    print("No")

('Ajay', 32, 'Hyderabad')
Yes

In [30]:
mytuple = ('a','p','p','l','e')

In [31]:
mytuple.count('p')

2

In [32]:
mytuple.index('p')

1

In [16]:
my_list = list(mytuple)
my_list

['a', 'p', 'p', 'l', 'e']

### Tuple Slicing

In [33]:
# Notice that max index vaule in Slicing is exclusive
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# start and end
b = a[2:5]
print(b)

# no start
print(a[:5])

# just step
print(a[::2])

# reverse using slicing
print(a[::-1])

(3, 4, 5)
(1, 2, 3, 4, 5)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

### Tuple Unpacking

In [42]:
# Simple tuple unpacking
my_tuple = "Ajay", 32, "Hyderabad"

name, age, city = my_tuple
print(f"{name} is {age} years old and lives in {city}")

Ajay is 32 years old and lives in Hyderabad

In [44]:
# Complex tuple unpacking using *args
my_tuple2 = "Ajay", 32, "Hyderabad"

name, *dtls = my_tuple2
print(f"{name} is {dtls[0]} years old and lives in {dtls[1]}")

Ajay is 32 years old and lives in Hyderabad

In [46]:
# Complex tuple unpacking using *args
my_tuple = (0, 1, 2, 3, 4)

i1, *i2, i3 = my_tuple

print(i1)
print(i3)
print(i2)

0
4
[1, 2, 3]

### Size

In [2]:
import sys

my_list = [0,1,2,"hello",True]
my_tuple = (0,1,2,"hello",True)

print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

120 bytes
80 bytes

### Time

In [5]:
import timeit

print(timeit.timeit(stmt="[0,1,2,3,4,5]", number=10000000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)", number=10000000))

0.3347174520022236
0.046644034002383705